@media screen and (max-width: 780px) {
    
    .header, 
    .footer{
        text-align: center;
    }
    .left {
        width: auto;
        float: none;
    }
    
    .middle {
        width: auto;
        float: none;
    }
    
    .right {
        width: auto;
        float: none;
    }

}